<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{#url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css')#}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{#url_for('static', filename='bower_components/angular/angular.js')#}"></script>
  <script src="{#url_for('static', filename='bower_components/angular-route/angular-route.js')#}"></script>
  <script src="{#url_for('static', filename='app.js')#}"></script>
  <script src="{#url_for('static', filename='status-list/status-list.module.js')#}"></script>
  <script src="{#url_for('static', filename='status-list/status-list.component.js')#}"></script>
</head>

<body>
  <status-list></status-list>  
</body>
</html>
